body {
    margin: 0;
}

.tooltip {
    background: black;
    color: white;
    border-radius: 1em;
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 1em;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    min-width: 20ch;
    justify-content: center;
    transition: opacity 0.3s;
}

.tooltip.visible {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

.page-content {
    padding-left: 60px;
    padding-top: 60px;

    width: 6000px;
    height: 6000px;
}


